<head>
	<base href="">
	<meta charset="utf-8" />
	<title>Admin</title>
	<meta name="description" content="Metronic admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets." />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="canonical" href="https://keenthemes.com/metronic" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link href="~/adminpanel/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/adminpanel/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/adminpanel/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/adminpanel/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
	<link href="~/adminpanel/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
	<link href="~/adminpanel/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/adminpanel/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="~/adminpanel/assets/media/logos/favicon.ico" />
</head>